<%- include('layout/header/headerHome.ejs',{tituloweb:'Inicio de session',css:'/css/login.css'}) %>
    <form class="login" action="/api/tareas/login" method="post">
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <button>Login</button>
    </form>

    <a href="https://codepen.io/davinci/" target="_blank">check my other pens</a>