<%- include('layout/header/headerHome.ejs',{tituloweb:'Inicio de session',css:'/css/New.css'}) %>

    <main>
        <form action="/api/tareas/New" method="post">
            <label for="Nombre">Nombre de la tarea</label>
            <input type="text" name="Name" id="">
            <label for="Nombre">Describe la tarea a realizar</label>
            <textarea name="Description"></textarea>
            <input class="inputformf" type="text" value="" id="fecha" name="Fecha">

            <button type="submit">Registrar tarea</button>

        </form>
    </main>
    <script src="/js/hora.js"></script>