<%- include('layout/header/headerHome.ejs',{tituloweb:'Registro de nuevo usuario',css:'/css/login.css'}) %>
    <main>
        <div class="container_P">
            <h1>Registrar nuevo usuario</h1>
            <div class="container_h">
                <form action="/api/tareas/Registro" method="post">
                    <label for="name"> <i class="fas fa-user-circle"></i> Nombre de usuario
                    </label>
                    <input type="text" name="username" id="">

                    <label for="password"><i class="fas fa-lock"></i> Contraseña</label>
                    <input type="password" name="password">
                    <br>
                    <input class="inputformf" type="text" value="" id="fecha" name="Fecha ">
                    <button type="submit" class="btn btn-success"><i class="fas fa-sign-out-alt"></i> Registrar</button>
                </form>
            </div>
        </div>
    </main>
    <script src="/js/hora.js"></script>